*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  padding: 60px 40px;
  background: snow;
  height: 100vh;
  width: 100%;
}

ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 1.2rem;
    transition: 0.2s;
    background: rgb(37, 195, 248);
    user-select: none;
    list-style: none;
}

ul li:nth-child(odd){
    background: rgb(77, 211, 255);
}

ul li:hover{
    background: rgb(161, 229, 252);
}

ul li.checked {
    background: rgb(185, 186, 255);
    color: #fff;
    text-decoration: line-through;
}

/* Add check mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff; 
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 13px;
    left: 16px; 
    transform: rotate(45deg);
    height: 15px; 
    width: 7px; 
}


/* Style close buttons */
.close {
    position: absolute;
    right: 0; 
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: rgb(255, 154, 213);
    color: #fff;
}

/* Style header */
.header {
    background: rgb(185, 186, 255);
    padding: 30px 40px;
    color: #fff;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}


input {
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Add Button */
.addBtn {
    padding: 10px;
    background:rgb(132, 133, 248);
    width: 25%; 
    float: left;
    text-align: center;
    font-size: 1rem;
    pointer-events: all;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 0;
}

.addBtn:hover {
    background:rgb(255, 154, 213);
}